body {
	margin: 0;
	padding: 0;
	background-color: red;
	color: papayawhip;
	font-family: sans-serif;
	font-weight: bold;
	overflow: hidden;
}

.videos {
	display: grid;
	grid-template: repeat(4, 33.333vh) / repeat(3, 1fr);
	/*grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;*/
	/*grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);*/
}

.video {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	z-index: 1;
	transition: all 400ms;
}

.video--active {
	grid-row-start: span 2;
	grid-column-start: span 2;
}

/*.video:hover {
	transform: scale(1.5);
	z-index: 10;
}*/

.video__wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video__wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

/*.video:nth-child(1) {
	background-color: aquamarine;
	transform-origin: top left;	
}

.video:nth-child(2) {
	background-color: papayawhip;
	transform-origin: top right;		
}

.video:nth-child(3) {
	background-color: lightgreen;	
	transform-origin: bottom left;	
}

.video:nth-child(4) {
	background-color: lightblue;	
	transform-origin: bottom right;	
}*/

.video:nth-child(1) {
	background-color: aquamarine;
	transform-origin: top left;	
}

.video:nth-child(2) {
	background-color: lightblue;
	transform-origin: top center;		
}

.video:nth-child(3) {
	background-color: papayawhip;	
	transform-origin: top right;	
}

.video:nth-child(4) {
	background-color: aquamarine;
	transform-origin: center left;		
}

.video:nth-child(5) {
	background-color: lightblue;
	transform-origin: center center;	
}

.video:nth-child(6) {
	background-color: lightgreen;
	transform-origin: center right;	
}

.video:nth-child(7) {
	background-color: aquamarine;
	transform-origin: bottom left;		
}

.video:nth-child(8) {
	background-color: lightblue;
	transform-origin: bottom center;		
}

.video:nth-child(9) {
	background-color: lightgreen;	
	transform-origin: bottom right;	
}